*{
margin: 0;
padding: 0;
box-sizing:border-box ;
}

body{
    background: linear-gradient(rgb(108, 250, 203),rgb(31, 87, 66));
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px;
}

h1{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 50px;
color: white;
text-shadow: 0px 1px 4px black;
}

#formulario{

    width: 60%;
    background: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;

}

#formulario div{

    display:flex;
    flex-direction: column;
    gap: 3px;
}

#formulario div label{
font-size: 20px;
font-weight: bold;
}

#formulario div input,button{
    padding: 6px;
    border: none;
    outline: none;
    background: rgb(118, 226, 190);
    border-radius: 5px;
}

#btn{
    background: rgb(69, 159, 243);
    color: whitesmoke;
    font-size: 16px;
    cursor:pointer;
}